.hero {
    background: #6200ee;
}

.mdc-list-item__graphic {
    color: #ffffff;
    background-color: #6200ee;
    margin-left: 0;
    margin-right: 16px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

li {
    margin: 30px 0;
}

.code {
    width: 128px;
    height: 128px;
    padding: 10px;
    background: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
