@import "../../node_modules/material-components-web/dist/material-components-web.css";

.mdc-button--secondary,
.mdc-button--secondary:not(:disabled) {
    background: #e4167d;
}

#keyboard-input {
    width:  0;
    overflow: hidden;
    position: fixed; left: 0;
    border: none;
    background: transparent;
}

#keyboard {
    width: 100%;
    height: 40px;
    background: #e254ff;
    color: #FFFFFF;
    touch-action: none;
    text-align: center;
    text-align: center;
    vertical-align: middle;
    line-height: 40px; 
}

#mouse-pad {
    width: 100%;
    height: 160px;
    background:	#7200ca;
    color: #FFFFFF;
    touch-action: none;
    text-align: center;
    text-align: center;
    vertical-align: middle;
    line-height: 160px; 
}
